.footer-section {
  background-color: hsl(0, 1%, 37%);
  color: #fff;
  padding: 40px 20px;
  display: grid;
  gap: 2rem;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  width: 80%;
  margin: auto;
}

.boxNewsletter {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
}

.boxNewsletter form {
  display: flex;
  flex-direction: column;
}

.boxNewsletter form label {
  color: #fff;
  padding-bottom: 0.7rem;
  font-weight: normal;
}

.boxNewsletter form .box {
  width: 80%;
  margin: 0.7rem 0;
  padding: 1em 0.5rem;
  border-radius: 0.5rem;
  text-transform: none;
}

.boxNewsletter .btn {
  width: fit-content;
  padding: 0.5em;
  color: white;
  border: 1px solid transparent;
  border-radius: 28px;
  outline: transparent;
  background-color: #1a8efd;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.boxNewsletter .btn:hover,
.social-links a:hover {
  color: #1a8efd;
  background-color: transparent;
  border: 1px solid #1a8efd;
}

.box h2,
.boxNewsletter h2,
.social-links h2 {
  margin-bottom: 15px;
  border-bottom: 2px solid #92f;
  font: bold 2rem "Poppins", sans-serif;
}

.box a,
.social-links a {
  display: block;
  color: #fff;
  margin: 15px 0;
  text-decoration: none;
}

.box a,
.boxNewsletter label,
.credit {
  font: 1.2rem "Rubik", sans-serif;
}

.box .icon {
  margin-right: 5px;
  color: #1a8efd;
}

.box a {
  transition: transform 0.3s ease;
}

.box a:hover {
  padding-right: 2rem;
  color: #1a8efd;
  transform: translateX(10px);
}

.social-links a {
  height: 3rem;
  width: 3rem;
  background: #1a8efd;
  border-radius: 50%;
}

.social-links {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  text-align: center;
  gap: 0.5rem;
}

.socialbtn {
  padding: 1rem;
}

.credit {
  text-align: center;
  color: #ccc;
}

.credit span {
  color: #1a8efd;
  font-size: 1.4rem;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .box-container {
    display: flex;
    flex-direction: column;
  }

  .box,
  .boxNewsletter {
    min-width: 100%;
  }
}
